.authform__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authform__h1 {
    font-family: 'Lato', 'Raleway', sans-serif;
    margin-bottom: 1rem;
   font-size: 4rem;
    color: #fff48f;
}

.authform__sub-heading {
    color: #fff48f;
    font-size: 2rem;
}

.authform__paper {
    padding: 1.5rem 3rem;
    width: 35%;
    margin-top: 2rem;
    background: linear-gradient(0.25turn, rgb(114, 215, 255), #ffffff);
    /* background-color: rgb(114, 215, 255);
    background-color: green; */
}

.home-image {
    background-image: url(../assets/images/memovie-home.jpg);
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}