.dshbrd__container {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dshbrd__title-container {
    display: flex;
}

.dshbrd__heading {
    transform: translateY(-50px);
    opacity: 0;
    font-size: 10rem;
    font-weight: 100;
    margin: 0;
}

.dshbrd__heading-blue {
    transform: translateY(-50px);
    opacity: 0;
    color: var(--font-blue);
}

.dshbrd__welcome {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: maroon;
}

.dshbrd__welcome span {
    transform: translateX(-20px);
    opacity: 0;
}

.dshbrd__welcome span:last-child {
    opacity: 0;
}

.dshbrd__btn-group {
    width: 23rem;
    display: flex; 
    justify-content: space-between;
}

@media only screen and (max-width: 750px) {
    .dshbrd__heading {
        font-size: 7rem;
    }

    .dshbrd__sub-heading {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .dshbrd__heading {
        font-size: 4.5rem;
    }

    .dshbrd__heading {
        margin-bottom: 0.4rem;
    }

    .dshbrd__sub-heading {
        font-size: 1.2rem;
    }

    .dshbrd__btn-group {
        width: 80%;
    }

    .dshbrd__btn {
        padding: 0.4rem;
        font-size: 1.1rem;
    }
}