.dashboard__container {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard__heading {
    font-size: 10rem;
    font-weight: 100;
    margin: 0;
}

.dashboard__heading-blue {
    color: var(--font-blue);
}

.dashboard__welcome {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: maroon;
}

.dashboard__btn-group {
    width: 23rem;
    display: flex; 
    justify-content: space-between;
}

@media only screen and (max-width: 750px) {
    .dashboard__heading {
        font-size: 7rem;
    }

    .dashboard__sub-heading {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .dashboard__heading {
        font-size: 4.5rem;
    }

    .dashboard__heading {
        margin-bottom: 0.4rem;
    }

    .dashboard__sub-heading {
        font-size: 1.2rem;
    }

    .dashboard__btn-group {
        width: 80%;
    }

    .dashboard__btn {
        padding: 0.4rem;
        font-size: 1.1rem;
    }
}