.dialogue__container {
    padding: 1.3rem 2rem;
}

.dialogue__heading {
    margin-bottom: 0.5rem;
    color: var(--font-black);
    text-align: center;
}

.dialogue__content-alert {
    font-family: 'Raleway';
    font-size: 1.1rem;
    color: rgb(102, 60, 0);
}

.dialogue__content-alert > p {
    margin-left: 0.4rem;
}

.no-movies__h3 {
    margin: 0;
    margin-bottom: 0.7rem;
}

.picked-movie__h1 {
    font-size: 3.5rem;
    color: var(--font-black);
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.picked-movie__director {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 660px) {
    .picked-movie__h1 {
        font-size: 3rem;
    }
    
    .dialogue__container {
        padding: 1rem;
    }
}