.lp__container {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lp__heading {
    font-size: 10rem;
    font-weight: 100;
    margin: 0;
}

.lp__heading-blue {
    color: var(--font-blue);
}

.lp__sub-heading {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.lp__btn-group {
    width: 23rem;
    display: flex; 
    justify-content: space-between;
}

@media only screen and (max-width: 750px) {
    .lp__heading {
        font-size: 7rem;
    }

    .lp__sub-heading {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .lp__heading {
        font-size: 4.5rem;
    }

    .lp__heading {
        margin-bottom: 0.4rem;
    }

    .lp__sub-heading {
        font-size: 1.2rem;
    }

    .lp__btn-group {
        width: 70%;
    }

    .lp__btn {
        padding: 0.7rem;
    }
}