.mp__h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.filters__container {
    padding: 1rem;
}

.filters {
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin: 0 auto;
}

.filters__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters__heading {
    margin-bottom: 0.8rem;
    font-family: "Roboto", arial;
    font-size: 1.1rem;
}

.filters__chevron {
    cursor: pointer;
    border-radius: 2px;
    margin-left: 0.2rem;
}

.filters__chevron:hover {
    background: rgba(221, 217, 212, 0.4);
}