@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

:root {
    --font-black: rgba(0, 0, 0, 0.767);
    --font-blue: #b4ddff;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--font-black);
}

.background-image {
    background-image: url(../assets/images/film.jpg);
    background-size: cover;
    height: 100vh;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.flex-align-center {
    display: flex; 
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.btn {
    border: none;
    border-radius: 4px;
    background: none;
    text-decoration: none;
    padding: 0.5rem 1rem;
    outline: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    transition: all 0.1s linear;
    margin: 1rem auto;
}

.btn:hover {
    background:rgba(0, 0, 0, 0.05);
}